{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
  <h1>About this project:</h1>
  <p>This project served as an introduction into Django. In this project 
    I extended my knowledge or was introduced to these concepts: </p>
  <ul>
    <li>Custom users (sub-classing AbstractUser)</li>
    <li>PostgreSQL database</li>
    <li>Authentication and Social Logins via the allauth module</li>
    <li>Model fields and attributes</li>
    <li>ForeignKey model relationships</li>
    <li>Class-based views</li>
    <li>Docker</li>
    <li>Permissions (LoginRequiredMixin)</li>
    <li>Querysets</li>
    <li>Basics of integrating Bootstrap</li> 
    <li>Basics of security (hiding production secret key,
      custom admin URL, XSS, SQL injection, csrf, clickjacking, 
      https, HSTS and secure cookies.</li> 
  </ul>
{% endblock content %}